@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Inter", sans-serif;
}

section {
	padding-block: 2rem;
}

svg {
	display: inline-block;
}

@layer components {
	.btn {
		@apply rounded-md px-6 py-2;
	}

	.btn-primary {
		@apply bg-primary-header font-semibold text-white transition-colors duration-200 hover:bg-slate-700;
	}
	.btn-alt {
		@apply bg-white font-semibold text-primary-main-headdings transition-colors duration-200 hover:bg-gray-300;
	}

	.link {
		@apply flex w-full items-center justify-center gap-4 rounded-md bg-primary-footer px-4 py-2 transition-colors hover:bg-primary-headdings hover:text-white sm:w-fit;
	}

	.menu_list {
		@apply left-0 z-10 w-full space-y-2 whitespace-nowrap border-primary-text bg-primary-header py-4 text-sm text-white/90 sm:absolute sm:top-[calc(100%+0.5rem)] sm:w-[205px] sm:rounded-md sm:border-2 sm:p-4;
	}

	.heading {
		@apply text-3xl font-bold capitalize text-primary-main-headdings;
	}

	.brands_list {
		@apply flex w-full min-w-[800px] shrink-0 items-center justify-around;
	}

	.footer_list {
		@apply mx-auto max-w-fit space-y-4 text-center sm:mx-0 sm:text-start;
	}
	.footer_list > p {
		@apply mb-4 font-bold uppercase text-primary-headdings;
	}
	.footer_list > ul {
		@apply space-y-2;
	}
	.footer_list li {
		@apply cursor-pointer text-primary-text hover:underline;
	}

	.nav_btn {
		@apply font-medium transition-colors duration-200 hover:underline sm:rounded-md sm:p-1.5 sm:hover:bg-primary-main-headdings sm:hover:no-underline;
	}

	.nav_link {
		@apply inline-block w-full rounded-md px-4 py-2 capitalize transition-colors duration-200 hover:bg-primary-main-headdings;
	}
	.nav_link.active {
		@apply bg-primary-main-headdings;
	}

	.form_field {
		@apply flex flex-col space-y-2;
	}
	.form_field > label {
		@apply text-sm font-medium;
	}
	.form_field > input {
		@apply rounded-md px-4 py-2 text-sm outline-1 outline-primary-headdings;
	}
	.form_field > p {
		@apply text-sm text-rose-500;
	}

	.sign-out {
		@apply flex w-fit cursor-pointer gap-4;
	}
	.sign-out > button {
		@apply px-8 py-2;
	}
}
